.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 15vh;
  left: calc(50% - (90% / 2)); /* Center the modal horizontally */
  width: 90%;
  max-height: 70vh; /* Set a maximum height for the modal */
  overflow: auto;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.25);
  z-index: 30;
  
/* Add a transition to the modal */
transition: all .3s ease-out;

/* Add a transform to the modal */
transform: translateY(-3rem);
opacity:0;

/* Add an animation to the modal */
animation-name: slide-down;
animation-duration: .3s;
animation-timing-function: ease-out;
animation-fill-mode: forwards;
}

@media (min-width:768px) {
.modal {
    width:40rem;
    left:calc(50% - (40rem /2));
}
}

@keyframes slide-down {
from {
    opacity:0;
    transform:translateY(-3rem);
}
to {
    opacity:1;
    transform:translateY(0);
}
}